/* stylesheet for grid.html */

* { box-sizing: border-box; }

#wrapper{
    width: 90%;
    margin: 0px auto;
}
#main-content { background-color: #D8D8DC; }
#sidebar { background-color: #828284; }

.row {
    clear: both;
    padding-left: 20px;
}
.content { padding: 20px; }
/* small sized screens */
@media only screen and (max-width: 480px){
    .twelve-s { width: 100%; }
}
/* medium sized screens */
@media only screen and (min-width: 481px){
    .four-m { width: 33.333333%; }
    .five-m { width: 41.666666%; }
    .seven-m { width: 58.333333%; }
    .eight-m { width: 66.666666%; }
}
/* large sized screens */
@media only screen and (min-width: 1024px){
    .four-l { width: 33.333333%; }
    .eight-l { width: 66.666666%; }
}
.column {
    float: left;
    padding-right: 20px; /*gutter*/
}
